body{
  background-color: black;
  font-family: Arial;
  color: white;
}

.gray-button{
  background-color: rgb(51,51,51);
}

.orange-button{
  background-color: rgb(254,160,10);
}

.calculator-button{
  height: 60px;
  width: 60px;
  border-radius: 60px;
  font-size: 26px;
  cursor: pointer;
  margin-right: 5px;
  border: none;
  color: white;
}

.clear{
  font-size: 17px;
}

.calculation{
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 5px;
}
